@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; 
  color: #222;
  scroll-behavior: smooth;

}
.navbar{
  overflow: hidden;
}
nav-link{
  font-size: 1.1em !important;
}

.nav-item{ 
  text-align: right; 
}

#aboutMe .img-fluid{
border-radius: 50%;
padding: 2rem;
}
.carousel-inner .carousel-item{
  max-width: 100%;
  max-height: 100%;
}
.carousel-item:after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}
.carousel-caption{
  position: absolute;
  bottom: 40%;
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.padding{
  padding-bottom: 2rem;
}
.fa-code, .fa-graduation-cap, .fa-cog{
  color: #e54d26;
}
.fa-code, .fa-graduation-cap, .fa-cog{
  font-size: 4em;
  margin: 1rem;
}
.social a{
  font-size: 4.5em;
  margin: 1rem;
}
.fa-linkedin{
  color:  #0e76a8;
}
.fa-github{
  color: #333;
}
.fa-twitter{
  color: #00aced;
}
.fa-envelope{
  color: #dd4b39;
}
.fa-linkedin:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-envelope:hover{
  color: #d5d5d5;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}



/*---Media Queries --*/
@media (max-width: 992px) {
  .carousel-caption{
  position: absolute;
  bottom: 5%;
}

}
@media (max-width: 768px) {
  #portfolio .portfolio-item {
   margin: 0 0 30px;
  }
.carousel-caption{
  position: absolute;
  bottom: 20%;
}
.carousel-caption h1{
  font-size: 350%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
  .carousel-caption h3{
   font-size: 140%;
    font-weight: 400;
   text-shadow: 1px 1px 10px #000;
   padding-bottom: 0.2rem;
}
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
    .social a{
    font-size: 2.5em;
  }
}
@media (max-width: 576px) {

.carousel-caption{
  position: absolute;
  bottom: 0%;
}
.carousel-caption h1{
  font-size: 150%;

}
  .carousel-caption h3{
   font-size: 100%;
    font-weight: 400;
   text-shadow: 1px 1px 10px #000;
   padding-bottom: 0.2rem;
}
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators{
    display: none;
  }
  .display-4{
    font-size: 160%;
  }
    .social a{
    font-size: 2em;
  }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0!important;

}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mountainBike1.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
    filter: brightness(50%);
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


}

/*modal styling*/

section {
  padding: 100px 0;

}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;    
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 300px;
  max-height: 200px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}

#portfolio .portfolio-item .portfolio-link img {
  max-width: 400px;
  max-height: 200px;
  transition: transform 0.7s ease;
  text-align: center;
}
#portfolio .portfolio-item .portfolio-link:hover img {
transform: scale(1.1);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(40, 28, 69, 0.4);
}


#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 300px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100%;

}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
    text-align: center;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
    text-align: justify;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #6648b1;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #6648b1;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/







