@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; 
  color: #222;
  scroll-behavior: smooth;
}
navbar{
  padding: .8rem;
}
nav-link{
  font-size: 1.1em !important;
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;    
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.img-project{
  width: 25%;
  height: 50%;
}

.img-fluid{
  border-radius: 50%;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-item:after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}
.carousel-caption{
  position: absolute;
  bottom: 10%;
  z-index: 20
    background-color:rgba(0,0,0,0.2);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.padding{
  padding-bottom: 2rem;
}
.fa-code, .fa-graduation-cap, .fa-cog{
  color: #e54d26;
}
.fa-code, .fa-graduation-cap, .fa-cog{
  font-size: 4em;
  margin: 1rem;
}
.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-linkedin{
  color:  #0e76a8;
}
.fa-github{
  color: #333;
}
.fa-twitter{
  color: #00aced;
}
.fa-envelope{
  color: #dd4b39;
}
.fa-linkedin:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-envelope:hover{
  color: #d5d5d5;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}



/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
.carousel-caption{
  bottom: 15%;
}
.carousel-caption h1{
  font-size: 350%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
  .carousel-caption h3{
   font-size: 140%;
    font-weight: 400;
   text-shadow: 1px 1px 10px #000;
   padding-bottom: 0.2rem;
}
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
    .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption{
  bottom: 10%;
}
.carousel-caption h1{
  font-size: 250%;

}
  .carousel-caption h3{
   font-size: 110%;
    font-weight: 400;
   text-shadow: 1px 1px 10px #000;
   padding-bottom: 0.2rem;
}
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators{
    display: none;
  }
  .display-4{
    font-size: 160%;
  }
    .social a{
    font-size: 2em;
    padding: 0.7rem;
  }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0!important;

}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mountainBike1.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
    filter: brightness(50%);
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/







